<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AdminTools.Properties.Settings>
            <setting name="KickOnDefaultName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KickOnNameDifference" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SocialClubOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOTD" serializeAs="String">
                <value>Welcome to this GTA 5 Co-op Server! Max Ping: 250</value>
            </setting>
            <setting name="MaxPing" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="AntiClones" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KickOnOutdatedScript" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KickOnOutdatedGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptVersion" serializeAs="String">
                <value>VERSION_0_9</value>
            </setting>
            <setting name="ColoredNicknames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyAsciiNickName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyAsciiUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LimitNickNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameVersion" serializeAs="String">
                <value>25</value>
            </setting>
        </AdminTools.Properties.Settings>
    </applicationSettings>
</configuration>